<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone has made a new reservation! </h1>
    <p>
      <%= @user.email %> has created a reservation.<br>
    </p>
    <p>
      Login to the site to see the full details.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
