<% provide(:title, 'Directory') %>
<h1>Listing Restaurants</h1>
<table table align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Phone</th>
      <th>Rating</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <%= render 'list' %>
  <% if current_user %>
  <div align="center">
    <p>
      <%= link_to "Add a New Restaurant", new_restaurant_path, class:"btn btn-default btn-primary" %>
    </p>
  </div>
  <% end %>
</table>
<br>
<div><%= link_to "View Restaurant Categories", categories_path, class:"btn btn-primary btn-xs" %></div>
<script src="sorttable.js"></script>
